@if (TotalPages > 1) {
    <div class="d-flex justify-center mt-4">
        <MudPagination BoundaryCount="1" MiddleCount="3" Count="TotalPages"
                       Selected="CurrentPage" SelectedChanged="OnPageChange" Color="Color.Warning" />
    </div>
}

@code {
    [Parameter] public int CurrentPage { get; set; } = 1;
    [Parameter] public int TotalPages { get; set; } = 1;
    [Parameter] public EventCallback<int> OnPageChange { get; set; }
}
